.breadcrumbs {
    padding: 11px 0;
}

.breadcrumbs .items {
    padding: 0;
    margin: 0;
    list-style: none;
}

.breadcrumbs .items li.item {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    font-family: "SVN-GilroyBold", sans-serif;
    color: #67bf82;
    padding: 4px 0;
    border-bottom: 5px solid #67bf82;
    letter-spacing: -0.5px;
}

.page-title {}

.page-title h1 {
    font-size: 28px;
    margin: 16px 0 15px;
    color: #000000;
}
.single-meta {
    margin-bottom: 21px;
}
.single-meta span.split {
    margin: 0 13px;
    height: 18px;
    font-size: 0;
    border-left: 1px solid #000000;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.single-meta  span.meta-view {
    vertical-align: top;
}
.single-details .single-description h6 {
    margin-bottom: 4px;
}

.single-details .single-description h6 ~ h6 {
    margin-bottom: 24px;
}
.single-details .single-description {
    line-height: 1.3;
    margin: 30px 0 24px;
    font-family: 'Open Sans';
    font-weight: 300;
}
.single-author {
    text-align: right;
    font-family: 'Open Sans';
    font-weight: 300;
    letter-spacing: -0.4px;
    font-style: italic;
}
.meta-social {
    float: left;
    vertical-align: top;
}

.meta-social .facebook-like {
    display: inline-block;
    vertical-align: top;
    margin-right: 3px;
}

.meta-social .social-share {
    display: inline-block;
    vertical-align: top;
}

.meta-bottom {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 29px 0 0;
}

.meta-tag {
    display: block;
    text-align: center;
    margin-top: 3px;
}

.meta-tag label {margin: 0 15px 0 3px;}

.meta-tag ul.tags {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 0;
}

.meta-tag ul.tags li {
    display: inline-block;
    vertical-align: top;
}
.meta-tag ul.tags li a {
    color: #4267b2;
    font-family: 'Open Sans';
    font-weight: 300;
}

.meta-tag ul.tags li a:hover {
    color: #67bf82;
}

.meta-tag ul.tags li:not(:last-child) a:after {content: ',';}
.single-details .single-description p {
    text-align: justify;
    margin-bottom: 26px;
}
.single-details .single-description p:last-child {
    margin-bottom: 24px;
}
.single-details .single-description p img {
    padding-bottom: 6px;
}

.page-pager {
    margin: 26px 0 32px;
}

.page-pager ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.page-pager ul li.prev-page {
    text-align: right;
}

.page-pager ul li.next-page {}

.page-pager ul li.pager-item .pager-inner {
    display: inline-block;
    vertical-align: top;
    padding: 0 42px;
}

.page-pager ul li.prev-page {border-right: 2px solid #e9e8e4;}

.page-pager ul li.pager-item .pager-inner label {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}

.page-pager ul li.pager-item .pager-inner a {
    font-family: 'SVN-GilroyBold';
    font-size: 17px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 8px;
}

.single-related {
    padding-top: 21px;
    padding-bottom: 5px;
    border-top: 1px solid #e9e8e4;
}
.single-related .section-title {}
.single-related .section-title h3 {
    font-size: 18px;
	margin-bottom: 33px;
}

.single-related .section-title h5 {
    color: #3a3a3a;
    margin-bottom: 25px;
}
.single-related .blog-item-image {}

.single-related .blog-item-image img {
    width: 100%;
}

.single-related .blog-item-content {
}

.single-related .blog-item-content h2 {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 21px;
}

.single-related .blog-item-content .date-time {
    margin-bottom: 0;
    font-size: 15px;
    padding-left: 30px;
}

.single-related .blog-item-content p:last-child {
    margin-bottom: 0;
}

.single-related .blog-item {
    margin-bottom: 32px;
}

.single-related .blog-item-content span.meta-view {
    font-size: 15px;
}

.single-related .blog-item-content span.split {
    margin: 5px 7px 0 8px;
}
.meta-social .social-share .st-btn {
    display: inline-block !important;
}



.blog-category {
    margin-top: 5px;
    margin-bottom: 19px;
}

.blog-category label {
    font-size: 18px;
    margin-right: 24px;
    margin-top: 0px;
}

.blog-category ul.items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.blog-category ul.items li.item.active a {
    color: #3636a8;
    border-color: #3636a8;
}

.blog-category ul.items li.item {
    display: inline-block;
    vertical-align: top;
    padding: 0 46px;
}

.blog-category ul.items li.item a {
    font-size: 18px;
    font-family: 'SVN-GilroyBold';
    border-bottom: 5px solid transparent;
}

.blog-category ul.items li.item:first-child {
}

.blog-category {
    margin-top: 5px;
    margin-bottom: 19px;
}

.blog-category label {
    font-size: 18px;
    margin-right: 24px;
    margin-top: 0px;
}

.blog-category ul.items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.blog-category ul.items li.item.active a {
    color: #3636a8;
    border-color: #3636a8;
}

.blog-category ul.items li.item {
    display: inline-block;
    vertical-align: top;
    padding: 0 46px;
}

.blog-category ul.items li.item a {
    font-size: 18px;
    font-family: 'SVN-GilroyBold';
    border-bottom: 5px solid transparent;
}

.blog-category ul.items li.item:first-child {
}

.blog-list .blog-item-image {
    -ms-flex: 0 0 30.6%;
    flex: 0 0 30.6%;
    max-width: 30.6%;
    padding-right: 0;
}

.blog-list .blog-item-content {
    -ms-flex: 0 0 69.4%;
    flex: 0 0 69.4%;
    max-width: 69.4%;
    padding-left: 41px;
    padding-right: 54px;
}
.blog-list .blog-item-content h6 {
    min-height: 1px;
    margin-bottom: 10px;
}
.blog-list .date-time {
    padding-left: 29px;
    font-size: 15px;
}
.blog-list .single-meta span.meta-view {
    font-size: 15px;
}
.blog-list .single-meta span.split {
    margin: 4px 8px 0 8px;
}
.blog-list .blog-item-content .single-meta {
    margin-bottom: 13px;
}
.blog-list .blog-item-description {
    font-family: 'Open Sans';
}
.blog-list .blog-item-description p {
    line-height: 1.3;
    /* text-align: justify; */
    letter-spacing: -0.1px;
}
.blog-list .blog-item:last-child {
    margin-bottom: 41px;
}
@media (min-width: 992px) {
    .page-pager ul li.pager-item .pager-inner {
        max-width: 75%;
    }
    .single-related .row {
        margin: 0 -25px;
    }
    .single-related .blog-item {
        padding: 0 25px;
    }

    .blog-list .blog-item-image {
        -ms-flex: 0 0 30.6%;
        flex: 0 0 30.6%;
        max-width: 30.6%;
        padding-right: 0;
    }

    .blog-list .blog-item-content {
        -ms-flex: 0 0 69.4%;
        flex: 0 0 69.4%;
        max-width: 69.4%;
        padding-left: 41px;
    }
}

@media (max-width: 991px) {

    .page-pager ul li.pager-item .pager-inner {
        padding: 0;
    }

    .page-pager ul li.prev-page {
        border: none;
        text-align: center;
        margin-bottom: 20px;
    }

    .page-pager ul li.next-page {
        text-align: center;
    }
    .meta-social {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
	.single-sidebar {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.blog-item:last-child {
		margin-bottom: 0;
	}
	.single-related {
		padding: 30px 0;
	}

	.single-details .single-description p:last-child {
		margin: 0;
	}
    .blog-item-content h6 {
        min-height: 1px;
    }
}