@font-face {
    font-family: 'SVN-GilroyLight';
    src: url('../fonts/SVN-GilroyLight.eot');
    src: url('../fonts/SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SVN-GilroyLight.woff2') format('woff2'),
        url('../fonts/SVN-GilroyLight.woff') format('woff'),
        url('../fonts/SVN-GilroyLight.ttf') format('truetype'),
        url('../fonts/SVN-GilroyLight.svg#SVN-GilroyLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GilroyHeavy';
    src: url('../fonts/SVN-GilroyHeavy.eot');
    src: url('../fonts/SVN-GilroyHeavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SVN-GilroyHeavy.woff2') format('woff2'),
        url('../fonts/SVN-GilroyHeavy.woff') format('woff'),
        url('../fonts/SVN-GilroyHeavy.ttf') format('truetype'),
        url('../fonts/SVN-GilroyHeavy.svg#SVN-GilroyHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('../fonts/SVN-Gilroy.eot');
    src: url('../fonts/SVN-Gilroy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SVN-Gilroy.woff2') format('woff2'),
        url('../fonts/SVN-Gilroy.woff') format('woff'),
        url('../fonts/SVN-Gilroy.ttf') format('truetype'),
        url('../fonts/SVN-Gilroy.svg#SVN-Gilroy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SVN-GilroyBold';
    src: url('../fonts/SVN-GilroyBold.eot');
    src: url('../fonts/SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SVN-GilroyBold.woff2') format('woff2'),
        url('../fonts/SVN-GilroyBold.woff') format('woff'),
        url('../fonts/SVN-GilroyBold.ttf') format('truetype'),
        url('../fonts/SVN-GilroyBold.svg#SVN-GilroyBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');


body {
	background: #fff;
	color: #000000;
    font-family: 'SVN-GilroyLight', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

a {
  color: #000000;
  transition: 0.5s;
}
.img-fluid {
    width: 100%;
}
a:hover,
a:active,
a:focus {
  color: #67bf82;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SVN-GilroyBold", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}
h2 {
	font-size: 20px;
}
h6.large {
    font-size: 18px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  /*height: 124px;*/
}
#header.header-scrolled {
  /* height: 82px; */
}
.header-inner {
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 30px 0 0;
  background: #fff;
}

.header-scrolled .header-inner {
 /* padding: 10px 0;
  -webkit-box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);*/
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-width: 92px;
}

.main-pages {
  margin-top: 60px;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav.main-nav {
    margin-top: 33px;
}
.main-nav > ul {
    display: table;
    width: 100%;
}
.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  display: table-cell;
  width: 20%;
  border-right: 1px solid #e9e8e4;
}
.main-nav > ul > li:first-child {
    border-left: 1px solid #e9e8e4;
}
.main-nav a {
    display: block;
    position: relative;
    color: #3a3a3a;
    padding: 6px 25px 8px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0px;
}
.main-nav li:last-child a {
}
.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #67bf82;
    font-family: 'SVN-GilroyBold';
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #01276e;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #01276e;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
    float: right;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    padding: 22px 15px;
    position: absolute;
    top: 0;
    right: 0;
}

.mobile-nav-toggle i {
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
main#main {
    background-color: #fafafa;
}

/*--------------------------------------------------------------
# Home Banner
--------------------------------------------------------------*/
.home-banner {
    position: relative;
}

.home-banner .banner-content {
    position: absolute;
    bottom: 53px;
    left: 0;
    width: 100%;
}

.home-banner .banner-content .banner-info {
    background-color: rgba(255, 255, 255, 0.85);
    display: inline-block;
    vertical-align: top;
    padding: 20px 66px 20px 0;
    position: relative;
    height: 94px;
}
.home-banner .banner-content .banner-info:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 94px solid rgba(255, 255, 255, 0.85);
    border-right: 57px solid transparent;
}
.home-banner .banner-content .banner-info:before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}
.home-banner .banner-content .banner-info h2 {
    margin: 0;
    font-size: 20px;
    line-height: 1.35;
    letter-spacing: 0.1px;
}
.home-banner .banner-content .banner-info h2 strong {
    letter-spacing: 0;
}


/*--------------------------------------------------------------
# Home About
--------------------------------------------------------------*/
.home-about {
    padding: 31px 0;
}
.section-title {}
.section-title h2 {
    margin: 0 0 24px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-color: #01276e;
    font-weight: 700;
    color: #ffffff;
    padding: 11px 42px 12px;
}
.section-title h2:before {
    content: '';
    position: absolute;
    right: 100%;
    top: 0;
    border-bottom: 47px solid #01276e;
    border-left: 17px solid transparent;
}
.section-title h2:after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0;
    border-top: 47px solid #01276e;
    border-right: 17px solid transparent;
}


.home-about .section-title p {
    margin-bottom: 27px;
}
.home-about .section-content h2 {
    font-weight: 500;
}

.about-item p {
    line-height: 1.5;
}
.about-item p:last-child {
    margin-bottom: 0;
}



/*--------------------------------------------------------------
# Home Programe
--------------------------------------------------------------*/
.home-programe {
    padding: 0 0 51px;
    background: #f8f8f8;
    margin: 33px 0 0;
}

.home-programe .section-title h2 {
    padding: 11px 32px 12px;
    margin-top: -25px;
	margin-bottom: 30px;
}
.programe-item {
    margin-bottom: 63px;
}
.programe-item:last-child {
    margin-bottom: 0;
}
.programe-item-image {
    margin: 4px 0;
}

.programe-item-content h2 {
    font-weight: 600;
}

.programe-item-content p {
    line-height: 1.5;
    margin-bottom: 16px;
}

.programe-item-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.programe-item-content ul li {
    position: relative;
    padding-left: 37px;
    line-height: 1.7;
}
.programe-item-content ul li:before {content: '-';position: absolute;left: 0;top: 0;}



/*--------------------------------------------------------------
# Home News
--------------------------------------------------------------*/
.home-news {
    padding: 51px 0 5px;
}

.home-news .section-title h2 {
    padding: 11px 11px 12px;
    margin-bottom: 35px;
}

.news-item {
    margin: 0 0 55px;
}

.news-item .news-item-inner {
    position: relative;
}
.news-item .news-item-inner img {
    width: 100%;
}
.news-item .news-item-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.8);
    padding: 12px 24px;
}

.news-item .news-item-details h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    line-height: 1.25;
}



/*--------------------------------------------------------------
# Home Blog
--------------------------------------------------------------*/
.home-blog {
    background-color: #f8f8f8;
    margin-top: 25px;
    padding-bottom: 52px;
}

.home-blog .section-title h2 {
    margin-top: -25px;
    padding: 11px 69px 12px;
    margin-bottom: 57px;
}

.blog-item-content {
    padding: 22px 15px;
    background-color: #ffffff;
}

.blog-item-content .single-meta {
    margin-bottom: 4px;
}
.blog-item-content h2 {
    font-weight: 600;
    margin-bottom: 13px;
}
.blog-item-content h6 {
    font-size: 17px;
    text-align: justify;
    margin-bottom: 17px;
    min-height: 60px;
}

.date-time {
    font-size: 16px;
    padding-left: 40px;
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 12px;
}

.blog-item-content p {
    line-height: 1.5;
    margin-bottom: 18px;
}

.blog-item-content .learn-more {
    font-size: 14px;
    font-style: italic;
    text-decoration: underline;
    letter-spacing: -0.8px;
}

.blog-item {
    margin-bottom: 41px;
}
.blog-item:last-child {
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# Home Logo
--------------------------------------------------------------*/

.home-logos {
    padding: 50px 0 45px;
}

.home-logos .section-title h2 {
    padding: 11px 57px 12px;
    margin-bottom: 38px;
}

.logos-slider {}

.logos-slider .logos-item {
    height: 100px;
    text-align: center;
}

.logos-slider .logos-item img {
    width: auto;
}

.display-table {
    display: table;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


/*--------------------------------------------------------------
# Home Contact
--------------------------------------------------------------*/
.home-contact {
    background-color: #f8f8f8;
    margin-top: 23px;
	padding-bottom: 32px;
}

.home-contact .section-title h2 {
    padding: 11px 56px 12px;
    margin-top: -23px;
    margin-bottom: 40px;
}
.contact-info h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 13px;
}

.contact-info p {
    line-height: 1.6;
    font-size: 16px;
    margin-bottom: 26px;
}

.contact-info ul.contact-social {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contact-info ul.contact-social li {
    display: inline-block;
	margin-right: 9px;
}

.contact-info ul.contact-social li i {
    color: #ffffff;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 23px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.contact-info ul.contact-social li .fa-facebook-f {
    background-color: #3b5494;
}
.contact-info ul.contact-social li .fa-youtube {
    background-color: #e52d27;
}
.contact-map iframe {
    max-width: 100%;
    width: 100%;
}

footer#footer {
    background-image: url(../images/bkg-footer.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    color: #ffffff;
    padding: 32px 0 42px;
}
.footer-email {
    margin-top: 7px;
}

.footer-email a {
    font-size: 18px;
    color: #ffffff;
}

ul.footer-social {
    list-style: none;
    padding: 0;
}

ul.footer-social li {
    display: inline-block;
    vertical-align: top;
    margin: 9px 10px 0 0;
}

ul.footer-social li a {
    width: 39px;
    height: 39px;
    display: inline-block;
    vertical-align: top;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    line-height: 39px;
    font-size: 22px;
    color: #58968d;
}

form.newsletter {}

form.newsletter label {
    font-size: 18px;
    font-family: 'SVN-Gilroy';
    margin: 6px 0 11px;
}

form.newsletter .input-item input[type="text"] {
    width: 100%;
    border: none;
    padding: 4px 100px 5px 19px;
    color: #898989;
    font-style: italic;
}

form.newsletter .input-item {
    position: relative;
}

form.newsletter .input-item  input.btn-submit {
    background-color: #67bf82;
    color: #ffffff;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 0;
    font-family: 'SVN-GilroyBold';
    border: none;
    font-size: 16px;
    min-width: 96px;
    padding: 5px 10px;
    height: 100%;
}

@media (min-width: 1200px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 1030px;
	}
  .footer-item.footer-logo {
      -ms-flex: 0 0 29%;
      flex: 0 0 29%;
      max-width: 29%;
  }

  .footer-item.footer-contact {
      -ms-flex: 0 0 36%;
      flex: 0 0 36%;
      max-width: 36%;
  }

  .footer-item.footer-newsletter {
      -ms-flex: 0 0 35%;
      flex: 0 0 35%;
      max-width: 35%;
  }
	.about-item {padding: 0 79px;}

	.programe-item-content {
		padding-left: 6px;
	}
  .blog-item-content {
      padding: 22px 29px;
  }
	.programe-item-image img {
		max-width: 340px;
	}
	.news-item {
		margin: 0 0 55px;
		padding: 0 30px;
	}
	.home-news .section-content .row {
		margin: 0 -30px;
	}

	.contact-map {
		-ms-flex: 0 0 46%;
		flex: 0 0 46%;
		max-width: 46%;
	}

	.contact-info {
		-ms-flex: 0 0 54%;
		flex: 0 0 54%;
		max-width: 54%;
	}
	.contact-info {
		padding-left: 14px;
	}
}

@media (max-width: 1279px) {
	.main-nav a {
		padding: 10px 15px;
	}
}

@media (max-width: 991px) {
	.header-inner {
		padding: 10px 0;
	}

	#header {
		/*height: 82px;*/
	}
  #header .logo img {
      max-width: 80px;
  }
	nav.main-nav {
    position: absolute;
    top: 0;
    background-color: #ffffff;
    margin: 0;
    left: 0;
    width: 100%;
    height: auto;
    padding-top: 10px;
    display: block !important;
    left: -100%;
    transition: all 0.7s;
    opacity: 0;
    visibility: hidden;
    z-index: 9;
	}

	nav.main-nav.active {
		display: block !important;
		left: 0;
		opacity: 1;
		visibility: visible;
	}

	.main-nav > ul > li {
    width: 100%;
    display: block;
    border: none;
    text-align: left;
	}
  .main-nav > ul > li:first-child {
      border: none;
  }
	nav.main-nav ul {
		height: 100%;
		display: inline-block;
		width: 100%;
		overflow-y: scroll;
	}
	.home-banner .banner-content .banner-info {
		height: auto;
		background: transparent;
		padding: 20px 0;
	}

	.home-banner .banner-content .banner-info:after,
	.home-banner .banner-content .banner-info:before {
		display: none;
	}

	.home-banner .banner-content {
		background-color: rgba(255, 255, 255, 0.85);
		bottom: 0;
	}
  .footer-item {
      text-align: center;
      margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
	.header-scrolled .header-inner,
	.header-inner {
		/*padding: 5px 0;*/
	}

	#header .logo img {
		max-height: 50px;
	}

	#header {
		/*height: 60px;*/
	}

	.mobile-nav-toggle {
		padding: 13px 15px;
	}

	nav.main-nav {
	}

	.main-nav a {
		padding: 5px 15px;
	}

	nav.main-nav ul {
	}
	.home-banner .banner-content {
		position: relative;
	}	
	.blog-item-image,
	.programe-item-image {
		margin: 0 0 25px;
	}

	.blog-item-image img,
	.programe-item-image img {
		width: 100%;
	}
	.contact-map {
		margin-bottom: 25px;
	}
	.programe-item,
	.news-item {
		margin-bottom: 30px;
	}
}